{%extends 'base/base.html'%}
{% load staticfiles %}

{%block content%}
<div class="modal fade" id="Modal" role="dialog">
   <div clss="modal dialog" >
      <div class="modal content">
         <div class="modal-header">
         </div>
         <div class="modal-body">
            <form role="form">
               <div class="form-group">
                  <label>Registrarse como:</label>
                  <label class="radio-inline"><input checked="checked" name="tipoUsuario" type="radio" value=1>Inmobiliaria</label>
                  <label class="radio-inline"><input checked="checked" name="tipoUsuario" type="radio" value=2>Agente independiente</label>
                  <center><button name="aceptar" id="agregar" type="submit" class="btn btn-success">ACEPTAR</button></center>
               </div>
            </form>
         </div>
      </div>
   </div>
{%endblock%}
