#pageloader
{
  background: rgba( 255, 255, 255, 0.8 );
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

#pageloader img
{
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
  position: absolute;
  top: 50%;
}

h3{
    text-align: center;
}
#id_contrasena{
    cursor: pointer;
}
.has-danger{
    border-color: #d9534f;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #d9534f;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #d9534f;
}
.has-success {
    border-color: #5cb85c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;
}
#id_strong_correo{
    visibility: hidden;
}
#div_botones{
    text-align: center;
}
#div_id_foto{
    text-align: center;
    cursor: pointer;
}
#id_foto{
    width: 150px;
    height: 150px;
    border: 2px solid black;
}
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    #contenedor{
        width: 60%;
        margin-left: 20%;
    }
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    #contenedor{
        width: 40%;
        margin-left: 30%;
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    #contenedor{
        width: 40%;
        margin-left: 30%;
    }
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
#contenedor{
    width: 40%;
    margin-left: 30%;
}
 }