{%extends 'base/base.html'%}
{% load staticfiles %}

{%block titulo%}
Lista de inmuebles
{%endblock%}

{%block extrastatic%}
<link rel="stylesheet" href="{%static 'css/lista-inmuebles.css'%}">
{%endblock%}

{%block content%}
<!--Barra de búsqueda-->
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-0"></div>
    <div class="col-lg-8 col-md-8">
        <form id="frm-buscar">
            <div class="input-group" style="text-align: center; padding-top: 10px;">
                <input id="pac-input" placeholder="Buscar inmueble" class="form-control" type="text" style="    margin-right: 1%;margin-left: 6%;">
                <span class="input-group-btn"  style="margin-right: 1%">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </span>
                <span class="input-group-btn" style="margin-right: 1%">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#id_modalFiltro"><i class="fa fa-filter"></i></button>
                </span>
            </div>
        </form>
       
    </div>
    <div class="col-lg-2 col-md-2 col-sm-0"></div>
</div>

<!--rows-->
<div id="id_contenedor" style="text-align: center;" class="container">
    {%if inmuebles%}
    {%for inmueble in inmuebles%}
    <br>
    <div class="container" style="border: 1px solid;">
            <div class="col-12">
                    <h2>{{inmueble.titulo}}</h2>
                </div>
            <div class="row" style="text-align: center;" >
                    <div class="carousel slide" data-ride="carousel" >
                        <div class="carousel-inner" style="width: 100%; height: 100%;">
                            {%for imagen in inmueble.imagenes%}
                            {%if forloop.counter == 1 %}
                            <div class="carousel-item active" style="width: 100%; height: 100%;">
                            <img class="d-block w-100" src="/{{imagen.imagen}}" style="width: 100%; height: 100%;">
                            </div>
                            {%else%}
                            <div class="carousel-item" style="width: 100%; height: 100%;">
                            <img class="d-block w-100" src="/{{imagen.imagen}}" style="width: 100%; height: 100%;">
                            </div>
                            {%endif%}
                            {%endfor%}
                        </div>
            
                    </div>
                </div>
            <div class="row">
                <div class="col-12">
                    <h5>{{inmueble.descripcion}}</h5>
                </div>
            </div>
    </div>

    {%endfor%}
    {%else%}
    <br>
    <br>
    <h1 id="id_noInmuebles">No se han encontrado coincidencias con tu búsqueda</h1>
    {%endif%}
</div>








<!--Modal de filtro-->
<div class="modal fade" id="id_modalFiltro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Filtrar por...</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <section>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, ea repudiandae voluptates et commodi maiores, obcaecati sint nam nobis ipsam quisquam beatae ab perspiciatis voluptas illum? Perspiciatis suscipit laudantium voluptatum?
            </section>


            <div class="modal-body">
              <div class="row">
                  <div class="input-group">
                      <input class="form-control-sm col-6" type="text">
                      <input class="form-control-sm col-6" type="text">
                  </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>


{%endblock%}

{%block scripts%}
<script src="{%static 'js/lista-inmuebles.js'%}"></script>
<script type="text/javascript">
    function initAutocomplete() {
      autocomplete = new google.maps.places.Autocomplete(
          /** @type {!HTMLInputElement} */(document.getElementById('pac-input')),
          {types: ['geocode']});
      autocomplete.addListener('place_changed', fillInAddress);
    }
  
    function fillInAddress() {
      var place = autocomplete.getPlace();
  
    }
      </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwaYxp9FNqlqrD39VaI1G8BGieF02zAnc&libraries=places&callback=initAutocomplete"
       async defer></script>
{%endblock%}
