{%extends 'base/base.html'%}
{% load staticfiles %}

{%block extrastatic%}
<link rel="stylesheet" href="{%static 'indexAssets/web/assets/mobirise-icons/mobirise-icons.css'%}">
<link rel="stylesheet" href="{%static 'indexAssets/theme/css/style.css'%}">
<link rel="stylesheet" href="{%static 'indexAssets/mobirise/css/mbr-additional.css'%}" type="text/css">
<link rel="stylesheet" href="{%static 'indexAssets/css/style.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{%endblock%}


{%block content%}
    <section class="cid-qJt8VDa5Sx mbr-fullscreen mbr-parallax-background" id="header2-f">
        <div class="container align-center">
            <div class="row justify-content-md-center">
                <form action="GET">
                        <div class="mbr-white col-md-10">
                                <div id="namer">
                                    <h1 style="font-size: 50px; color: white; font-weight: bold; text-align: left;">Buscas...</h1>
                                    <div class="namer-controls active">
                                        <div class="contenedorSpan"><span>Comprar</span></div>
                                        <div class="contenedorSpan"><span>Rentar</span></div>
                                        <div class="contenedorSpan"><span>Traspasar</span></div>
                                        </div>
                                    <div id="namer-input">
                                    <input type="text" name="cadenaBusqueda" placeholder="Dirección">
                                    <br>
                                    <br>
                                    <button id="cmd-buscar" type="submit" class="btn btn-primary">
                                        <i class="fa fa-search"></i> Buscar
                                      </button>
                                <p class="mbr-text pb-3 mbr-fonts-style display-5"></p>
                                
                            </div>
                        </div>
                            </div>
                </form>
                
    </section>

    <section class="engine"></section><section class="cid-qJt8VEMmmh" id="footer1-g">
        <div class="container">
            <div class="media-container-row content text-white">
                <div class="col-12 col-md-3">
                    <div class="media-wrap">
                        <img src="{% static 'imagenes/logo.png'%}">
                    </div>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">
                       Dirección
                    </h5>
                    <p class="mbr-text">
                         Zaragoza 312 pte, col. centro
                        <br>Los Mochis, Sinaloa
                    </p>
                </div>
                <div class="col-12 col-md-3 mbr-fonts-style display-7">
                    <h5 class="pb-3">
                        Contactanos
                    </h5>
                    <p class="mbr-text">
                        Email: soporte@praver.com
                        <br>Celular: 6688125235
                    </p>
                </div>
            </div>
        </div>
    </section>
{%endblock%}

{%block scripts%}
<script src="{%static 'indexAssets/tether/tether.min.js'%}"></script>
<script src="{%static 'indexAssets/smoothscroll/smooth-scroll.js'%}"></script>
<script src="{%static 'indexAssets/parallax/jarallax.min.js'%}"></script>
<script src="{%static 'indexAssets/theme/js/script.js'%}"></script>
<script src="{%static 'indexAssets/js/index.js'%}"></script>
{%endblock%}